body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    /*background-color: rgb(223, 227, 223); */
  }
  .graph {
    width: 100%;
    height: 100%;
  }
  .buttonBar {
      width: 4%;
      height: 100%;
      float:left;
      background-color: #e1e1ea; /*dark  #e9e9ef*/ 
  }
  
  .topLeft {
      width: 24%;
      height: 50%;
      float: left;
  
      background-color: #f9f9fb;  /*#FFFFFF*/
      border-collapse: collapse;
  }
  
  .topMiddleL {
      width: 24%;
      height: 50%;
      float: left;
      
      background-color: #f0f0f4;
      border-collapse: collapse;
  }
  .topMiddleR {
      width: 24%;
      height: 50%;
      float: left;
      
      background-color: #f9f9fb;
      border-collapse: collapse;
  }
  .topRight {
      width: 24%;
      height: 50%;
      float: left;
  
      background-color: #f0f0f4;
      border-collapse: collapse;
  }
  .bottomLeft {
      width: 24%;
      height: 50%;
      float: left;
  
      background-color: #f0f0f4;
      border-collapse: collapse;
  }
  
  .bottomMiddleL {
      width: 24%;
      height: 50%;
      float: left;
  
      background-color: #f9f9fb;
      border-collapse: collapse;
  }
  
  .bottomMiddleR {
      width: 24%;
      height: 50%;
      float: left;
  
      background-color: #f0f0f4;
      border-collapse: collapse;
  }
  .bottomRight {
      width: 24%;
      height: 50%;
      float: left;
  
      background-color: #f9f9fb;
      border-collapse: collapse;
  }
  
  .head {
      height:100%;
      width:30%;
  
      float:left;
  
      text-align: center;
      
      font-family: 'Kanit', sans-serif;
      writing-mode: vertical-rl;
      text-orientation: sideways;
      /*font-size: 16px;*/
      font-size: 2.75vw; 
  
      letter-spacing: .1em; /*3px*/
  }
  .container {
      height:100%;
      width:70%;
  
      float:right;
  
      padding-bottom: 1em;
  }
  .word {
      height:10%;
      width:100%;
  
      transform: translateY(-.03em);
  
      font-family: 'Arimo', sans-serif;
      
      font-weight:800;
      text-align: top;
      font-size: 16px;
      font-size: 2.15vw;
      letter-spacing: .1em;
  
  }
  
  .info {
      height:100%;
      width:100%;
      text-align:center;
  }
  #about {
      height:35%;
      width:75%;
      position:relative;
      left:13.5%;
      top: 4%;
      font-family: 'Kanit', sans-serif;
      font-size: 1.2em;
      /*background-color: cadetblue;*/
      text-transform:none;
      margin: -.5em;
      padding: -0.5em;;
  }
  img {
      width: 19em;
      height:16em;
      position: relative;
      top:7%;
      left:0;
  
  }
  
  p {
      margin: 0;
      padding:0;
      text-transform: uppercase;
  }
  
  h1 {
      margin: 0;
      padding:0; /*.05em*/
      transform: translateX(.25em);
  }
  
  .dates {
      transform: translateX(2.1em);
      font-size: 1.7vw; 
  }
  
  /*buttons*/
  .switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 5%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .slider:before {
    padding-top:0px;
    font-family: serif;

    vertical-align: text-bottom;
    color: #fff;

    border-bottom: 2px solid black;

    content: 'Opium';

    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align:center;
    background-color: rgb(191, 189, 189);
  
  
  }
  
  input:checked + .slider:after {
    padding-top:0px;
    background-color: rgb(175, 190, 190);
    font-family: serif;
    border-bottom: 2px solid black;
    color: #fff;
    vertical-align: text-bottom;

    content:'Tobacco';
    position: absolute;
    text-align:center;
    height: 100%;
    width: 100%;
    left: 0%;
    bottom: 0%;
  
  }
  
  
  form {
      height:100%;
      width:100%;
  }
  .button1 {
      position:absolute;
      top: 8%;
      left:.31em;
      transform:rotate(7deg);
  
      -webkit-transform:rotate(90deg); /* Safari and Chrome */
      
      background-color: rgb(191, 189, 189);
      padding: .3em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: rgb(255, 255, 255);
      font-family: serif;
      font-size:18px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      box-shadow: 0 3px rgb(57, 55, 55);
  }
  
  .button2 {
      position:absolute;
      top: 18%;
      left:-.5em;
  
      -webkit-transform:rotate(90deg); /* Safari and Chrome */
      
      background-color: rgb(191, 189, 189);
      padding: .3em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: rgb(255, 255, 255);
      font-family: serif;
      font-size:18px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      box-shadow: 0 3px rgb(57, 55, 55);
  }
  .button3 {
      position:absolute;
      top: 27%;
      left:.45em;
      -webkit-transform:rotate(90deg); /* Safari and Chrome */
      
      background-color: rgb(191, 189, 189);
      padding: .3em;
      -moz-border-radius: .2em;
      -webkit-border-radius: .2em;
      border-radius: .2em;
      color: #fff;
      font-family: serif;
      font-size:18px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      box-shadow: 0 3px rgb(57, 55, 55);
  }
  .button4 {
      position:absolute;
      top: 35.5%;
      left:-.1em;
      -webkit-transform:rotate(90deg); /* Safari and Chrome */
      
      background-color: rgb(191, 189, 189);
      padding: .3em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #fff;
      font-family: serif;
      font-size:18px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      box-shadow: 0 3px rgb(57, 55, 55);
  }
  .button:hover {
      border: none;
      background: rgb(175, 190, 190);
      /*box-shadow: 0px 0px 1px #777;*/
  }
  .button:active {
      background-color: rgb(175, 190, 190);
      box-shadow: 0 2px rgb(57, 55, 55);
      transform: translateY(3px);
      -webkit-transform:rotate(90deg); /* Safari and Chrome */
  }
  
 